body {
    margin: 0px;
    background: rgb(170, 170, 170);
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

button {
    background: #910505;
    border: none;
    padding: 8px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:active {
    background: #5e0303;
}

main {
    overflow: hidden;
    background: rgb(170, 170, 170);
    max-width: 1920px;
    margin: auto;
}

/* main navigation menu */
.nav-header-main {
    background: rgb(58, 58, 58);
}

.nav-header-main ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.nav-header-main li {
    float: left;
}

.nav-header-main a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px 20px;
}

.nav-header-main a:hover {
    background-color: black;
}

.nav-header-main button {
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

/* main section */
div.col {
    margin-top: 30px;
    float: left;
    width: 33.33%;
}

div.product {
    overflow: hidden;
    background-color: white;
    width: 80%;
    margin: auto;
    text-align: center;
    cursor: pointer;
    height: 300px;
}

#main-section img {
    width: 200px;
}

@media (max-width: 950px) {
    div.col {
        width: 50%;
    }
}

@media (max-width: 700px) {
    div.col {
        width: 100%;
    }

    div.product {
        width: 60%;
    }
}

@media (max-width: 500px) {
    div.product {
        width: 80%;
    }
}

/* details section */
#details-section {
    overflow: hidden;
    text-align: right;
    max-width: 300px;
    margin: auto;
}

.details-left-align {
    text-align: left;
}

.details-right-align {
    text-align: right;
}

.details-center-align {
    text-align: center;
}

/* about page */
.about-section h1 {
    text-align: center;
}

/* footer */
footer {
    margin-top: 20px;
    text-align: center;
}